.admincontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 80px;
}

.adminprofile {
  overflow-x: auto;
  background-color: white;
  height: 500px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.admin-card-header {
  background-color: #333;
  color: white;
  padding-left: 16px;
  border-radius: 3px;
}

.examadd-card {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.adminwrap {
  width: 100%;
  padding-bottom:10px ;
}

.admin-menu-container {
  margin-top: 20px;
}

.admin-cat-manage {
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: white;
  padding: 15px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}
@media screen and (max-width: 500px) {
  .admin-card-header {
    background-color: #333;
    color: white;
    font-size: 20px;
  }
  .admin-cat-manage {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  .admincontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 80px;
  }
  .admin-cat-manage {
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: white;
  padding: 15px;
  width: 130%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}
ul {
  font-size: 10px;
}
.btn {
  font-size: 10px;
}
  
}
@media (max-width: 1280px) {
  .admincontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 80px;
  }
  .examadd-card {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
}
